.page-content
  .jumbotron
    .container
      .row
        .col
          img.mx-auto.img-fluid(src='gfx/logo_header.png')
  .container
    ul.list-group
      each link in links
        li.list-group-item(data-target=link.target)
          i.fa.link-icon(class=link.icon)
          | link.name
