li.content-page.list-group-item.external-link(data-level=item.level, data-id=item.id)
  .row
    if item.icon
      .col-1
        i.link-icon(class=item.icon)
    .col
      a(href="#", onclick="window.open('" + item.link + "', '_system');") 
        !=item.name
    .col-1
      i.fa.fa-angle-right