li.content-page.list-group-item.external-link(data-level=item.level, data-id=item.id)
  i.link-icon(class=item.icon)
  a(href=item.link,target="_blank")
    !=item.name
  i.fa.fa-angle-right.float-right