mixin subPageHeader(title)
    .subpage-header-container
      .input-group
        span.input-group-btn
          button.btn.btn-primary.back-btn
            i.fa.fa-angle-left
        input.form-control-plaintext.submenu-header(type='text', readonly='readonly', value=title)

.swiper-slide.news-view
  +subPageHeader(title)
  .subpage-list-container
    ul.list-group.subpage-link-container.child-items-container
    .content-page-content