.swiper-slide.root-view
  .index-page-content
    .jumbotron
      .container
        .row
          .col
            img.mx-auto.img-fluid.index-image(src='gfx/logo_header.png')
    .index-list-container
      ul.list-group.index-link-container.child-items-container