mixin subPageHeader(title)
    .subpage-header-container
      .input-group
        span.input-group-btn
          button.btn.btn-primary.back-btn
            i.fa.fa-angle-left
        input.form-control-plaintext.submenu-header(type='text', readonly='readonly', value=title)

.swiper-slide
  +subPageHeader(title)
  .subpage-list-container
    ul.list-group.subpage-link-container
      each link in links
        li.sub-page-link.list-group-item.list-link(data-level=link.level, data-target=link.target)
          i.link-icon(class=link.icon)
          != link.name
          i.fa.fa-angle-right.float-right
