$figcaption-background-color: #eeeeee;
$traffic-meter-container-background-color: #a9d9fd;
$content-external-link-color: #000000;
$subpage-icon-ajankohtaista: #97c11f;
$subpage-icon-100-ideaa-etela-savossa: #e0d923;
$news-date-color: #0062cc;
$home-button-color: #ffffff;
$home-button-background: #0062cc;