.index-page-content {
  background: url('/gfx/index-menu-bg.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  
  .index-image {
    max-width: 200px;
    width: 100%;
    display: block;
  }
  
  .index-link-container {
    color: #fff;
    
    .index-link {
      background: transparent;
      border: none;
      border-bottom: 1px solid #016db8;
      border-top: 1px solid #016db8;
      text-transform: uppercase;
      font-size: 24px;
      
      .link-icon {
        vertical-align: middle;
        font-size: 38px;
        padding-right: 18px;
      }
      
    }
  }
}

.jumbotron {
  background: #fff;
  border-radius: 0;
}