@import "colors";

html, body {
  height: 100%;
}

html, body {
  position: relative;
  height: 100%;
}
 
body {
  margin: 0;
  padding: 0;
  
  &.loading {
    background-image: url("../gfx/loader-big.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    
    * {
      opacity: 0;
    }
  }
  
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {

}

.jumbotron {
  background: #fff;
  border-radius: 0;
}

.emergency-phone {
  background-color: #f68121;
  font-size: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

.phone {
  background-color: #1989db;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px; 
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.index-page-content {
  overflow-y: auto;
  overflow-x: hidden;
  background: url('../gfx/index-menu-bg.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  
  .index-list-container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .index-image {
    max-width: 200px;
    width: 100%;
    display: block;
  }
  
  .index-link-container {
    color: #fff;
    
    .index-link {
      background: transparent;
      border: none;
      border-bottom: 1px solid #016db8;
      border-top: 1px solid #016db8;
      text-transform: uppercase;
      font-size: 24px;
      transition: background 0.2s;
      user-select: none;
      
      &.active {
        background: #8ec63f;
      }
      
      .link-icon {
        vertical-align: middle;
        font-size: 38px;
        padding-right: 18px;
      }
      
    }
  }
}

.back-btn {
  border-radius: 0;
  font-size: 60px;
  background: #0667ae;
  padding-top: 0;
  padding-bottom: 0;
  width: 45px;
}

.subpage-header-container {
  height: 77px;
  
  .submenu-header {
    color: #fff;
    background: url("../gfx/index-menu-bg.png");
    width: 100%;
    text-transform: uppercase;
    background-size: cover;
    background-position: center left;
    padding-left: 35px;
    font-size: 24px; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
}

.subpage-list-container {
  height: calc(100% - 77px);
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  
  .list-link {
    user-select: none;
  }
  
  .content-page, .content-link {
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #016db8;
    border-top: 1px solid #016db8;
    
    .link-icon {
      color: #fff;
      background: #97c11f;
      border-radius: 50%;
      font-size: 40px;
      vertical-align: middle;
      
      &.icon-100-ideaa-etela-savossa {
        background: $subpage-icon-100-ideaa-etela-savossa;  
      }
      
      &.icon-ajankohtaista {
        background: $subpage-icon-ajankohtaista;
      }
    }
        
    .fa-angle-right {
      color: #000;
      font-size: 35px;
    }
  }
    
  .external-link a {
    color: $content-external-link-color;
  }
    
}

.page-view .content-page-content,
.news-view .content-page-content {
  
  padding: 15px;
  
  @media screen and (min-width: 768px) {
    padding: 50px;
  }
  
  figcaption {
    font-size: 12px;
    background: $figcaption-background-color;
    padding: 10px;
  }
  
  h2 {
    
    &.green {
      background: $content-header-green-background;
      color: $content-header-green-color;
    }
    
    &.blue {
      background: $content-header-blue-background;
      color: $content-header-blue-color;
    }
    
    &.green,
    &.blue {
      font-size: 24px;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 15px;
      margin-bottom: 20px;
      padding: 15px;
    }
    
  }
  
}

.page-view .content-page-content {
  text-align: center;
}

.news-view .content-page-content {
  
  .news-date-container {
    color: $news-date-color;
  }
  
}

.content-page-content {
  
  .frame-container {
    position: absolute;
    top: 77px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
  }

  iframe {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    border: 0;
  }
  
  &.loading {
    background-image: url("../gfx/loader-big.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;

    iframe {
      display: none;
    }
  }
  
  .sote-api-event-list {
    margin-bottom: 15px;
    
    &.loading {
      background-image: url("../gfx/loader-horz.svg");
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 80px;
      
      .event-list {
        display: none;
      }
  
    }
    
    .event-list-date {
      text-align: left;
      white-space: nowrap;
      font-weight: bold;
      font-size: 14px;
    }
    
    .event-list-title {
      text-align: left;
    }

  }

}

.content-page-wrapper {
  height: calc(100% - 77px);
  overflow-y: auto;
  overflow-x: hidden;
    
  .traffic-meter.container {
    background-color: $traffic-meter-container-background-color;
    padding-top: 20px;

    .traffic-meter {
      margin-top: 20px;
      width: 100%;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  .news-date-container {
    color: #0379d1;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  
  .news-content-container {
    padding-left: 25px;
    padding-right: 25px;

    .news-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

a.btn.home-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 32px;
  color: $home-button-color;
  background: $home-button-background;
  border-radius: 50px;
  border: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  z-index: 999999;
  padding: 0;
  
  &:focus,
  &:active {
    color: $home-button-color;
  }
}

.index-page-active {
  
  .home-btn {
    display: none;
  }
  
}

iframe.youtube-iframe {
  width: 100%;
  position: static;
  top: auto;
  min-height: 250px;
  height: auto;
  left: auto;
  border: auto;
}