html, body {
  height: 100%;
}

html, body {
  position: relative;
  height: 100%;
}
 
body {
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {

}

.jumbotron {
  background: #fff;
  border-radius: 0;
}

.emergency-phone {
  background-color: #f68121;
  font-size: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

.phone {
  background-color: #1989db;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px; 
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.index-page-content {
  overflow-y: auto;
  overflow-x: hidden;
  background: url('../gfx/index-menu-bg.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  
  .index-list-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .index-image {
    max-width: 200px;
    width: 100%;
    display: block;
  }
  
  .index-link-container {
    color: #fff;
    
    .index-link {
      background: transparent;
      border: none;
      border-bottom: 1px solid #016db8;
      border-top: 1px solid #016db8;
      text-transform: uppercase;
      font-size: 24px;
      transition: background 0.2s;
      
      &.active {
        background: #8ec63f;
      }
      
      .link-icon {
        vertical-align: middle;
        font-size: 38px;
        padding-right: 18px;
      }
      
    }
  }
}

.back-btn {
  border-radius: 0;
  font-size: 60px;
  background: #0667ae;
  padding-top: 0;
  padding-bottom: 0;
  width: 45px;
}

.subpage-header-container {
  height: 77px;
  
  .submenu-header {
    color: #fff;
    background: url("../gfx/index-menu-bg.png");
    width: 100%;
    text-transform: uppercase;
    background-size: cover;
    background-position: center left;
    padding-left: 35px;
    font-size: 24px; 
  }
}

.subpage-list-container {
  height: calc(100% - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  
  .content-page, .content-link {
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #016db8;
    border-top: 1px solid #016db8;
    
    .link-icon {
      color: #fff;
      background: #97c11f;
      border-radius: 50%;
      font-size: 40px;
      vertical-align: middle;
      margin-right: 20px;   
    }
    
    .fa-angle-right {
      color: #97c11f;
      font-size: 35px;
    }
  }
}

.page-view .content-page-content,
.news-view .content-page-content {
  padding: 15px;
  text-align: center;
  
  figcaption {
    font-size: 12px;
    background: #eee;
    padding: 10px;
  }
  
}

.content-page-content {
  
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: none
  }
}

.content-page-wrapper {
  height: calc(100% - 77px);
  overflow-y: auto;
  overflow-x: hidden;
    
  .traffic-meter.container {
    background-color: #a9d9fd;
    padding-top: 20px;

    .traffic-meter {
      margin-top: 20px;
      width: 100%;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  .news-date-container {
    color: #0379d1;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  
  .news-content-container {
    padding-left: 25px;
    padding-right: 25px;

    .news-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}